.floatingText {
    position: absolute;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0); /* 文本颜色始终为黑色 */
    text-align: center;
    cursor: pointer; /* 显示可点击的鼠标光标 */
    padding: 3px; /* 添加内边距以创建背景填充的空间 */
    border-radius: 3px; /* 圆角效果 */
    transition: background-color 0.3s; /* 添加背景颜色过渡效果 */
}

/* 当画面上没有任何年份时应用悬停效果 */
.noYearActive .floatingText:hover {
    background-color: rgba(0, 0, 0, 0.3); /* 悬停时的淡灰色背景，透明度30% */
}

/* 当元素显示名称时（即可点击以显示年份）应用悬停效果 */
.floatingText[data-isName="true"]:hover {
    background-color: rgba(0, 0, 0, 0.3); /* 悬停时的淡灰色背景，透明度30% */
}

/* 当元素显示年份时（即可点击以显示名称）应用悬停效果 */
.floatingText.yearElement:hover {
    background-color: rgba(0, 0, 0, 0.3); /* 悬停时的淡灰色背景，透明度30% */
}

.floatingText.yearElement::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* 淡灰色背景，透明度30% */
    opacity: 0;
    border-radius: 5px; /* 圆角效果 */
    transition: opacity 0.3s;
    z-index: -1; /* 确保伪元素在文本之后 */
}

.floatingText.yearElement:hover::after {
    opacity: 1;
}
